:root {
  --text-color: #333;
  --accent-grey: #eee;
  --accent-color: rgb(250, 181, 38);
}

body {
  font: 18px "Karla", sans-serif;
  color: var(--text-color);
}

p {
  font: 18px/1.66em "Karla", sans-serif;
  margin-bottom: 24px;
  color: var(--text-color);
}

u {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

blockquote {
  margin: ;
}

h1,
h2,
h3 {
  font: bold 34px/1.2em "Karla", san-serif;
}

ul {
  list-style: circle outside none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: normal;
}

.button {
  background-color: var(--accent-color);
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.code-block {
  font-size: 16px;
  padding: 20px;
  background-color: var(--accent-grey);
  font-family: monospace;
  line-height: 1.5em;
  display: block;
}

.container {
  width: 50%;
  max-width: 750px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  margin: auto;
  grid-row-gap: 40px;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60px;
  border-bottom: 1px solid var(--accent-grey);
}

.top-nav {
  display: flex;
  flex-direction: row-reverse;
}

.nav-li {
  list-style: none;
  display: inline;
  margin: 0 12px 0;
}

.nav-entry {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: .75em;
}

.article-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.entry-details {
  text-align: center;
  font-size: .75em;
  color: rgb(250, 181, 38);
  text-transform: uppercase;
}

.profile {
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
  width: 150px;
  height: 150px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}