/*blog roll*/

.article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.entry-details {
  text-align: center;
  font-size: 16px;
  color: rgb(250, 181, 38);
  text-transform: uppercase;
  margin-top: 20px;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
}