@import "layout.css";
@import "nav.css";
@import "about.css";
@import "blog-card.css";
@import "social.css";

:root {
  --text-color: #333;
  --accent-grey: #eee;
  --accent-color: rgb(250, 181, 38);
}

body {
  font: 18px "Karla", sans-serif;
  color: var(--text-color);
}

p {
  font: 18px/1.66em "Karla", sans-serif;
  margin-bottom: 24px;
  color: var(--text-color);
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

blockquote {
}

h1,
h2,
h3 {
  font: bold 34px/1.2em "Karla", san-serif;
}

ul {
  list-style: circle outside none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: normal;
}

hr {
  width: 100%;
  color: var(--accent-grey);
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font: italic 14px/1em "Karla", san-serif;
}

.button {
  background-color: var(--accent-color);
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.code-block {
  font-size: 16px;
  padding: 20px;
  background-color: var(--accent-grey);
  font-family: monospace;
  line-height: 1.5em;
  display: block;
}

.small {
  font-size: 75%;
}

.small-heading {
  font-size: 1.25em;
}

.header {
  height: 60px;
  border-bottom: 1px solid var(--accent-grey);
}

.responsive-pic {
  width: 100%;
}

.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}