/* nav */

.top-nav {
  display: flex;
  flex-direction: row-reverse;
}

.nav-li {
  list-style: none;
  display: inline;
  margin: 0 12px 0;
}

.nav-entry {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: .75em;
}

.article-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.entry-details {
  text-align: center;
  font-size: .75em;
  color: rgb(250, 181, 38);
  text-transform: uppercase;
}